.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.mainHead {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #091e4224;
}
.headAvatar {
  border-radius: 10px;
  overflow: hidden;
}
.headAvatar img {
  width: 80px;
  height: 80px;
  display: block;
}
.head {
  margin-left: 10px;
}
.head h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #172b4b;
}
.table {
  margin-top: 50px;
}

.yourBoardsTitle {
  font-size: 30px;
  color: #172b4b;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.yourBoardsTitle span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
.boards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.boards a {
  margin: 10px;
}
.board {
  max-width: 215px;
  width: 215px;
  max-height: 85px;
  height: 85px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  color: #fff;
  background-color: #0955ed;
}
.deleteBoard {
  margin-left: auto;
  margin-top: auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.deleteBoard:hover {
  background-color: #A6C5E229;
}
.addNew {
  max-width: 215px;
  transition: 0.4s;
  padding: 10px;
  width: 215px;
  max-height: 85px;
  height: 85px;
  display: flex;
  background-color: #f1f2f4;
  border-radius: 5px;
  margin: 20px 10px;
}
.addNew:hover {
  background-color: #091e4224;
  transition: 185ms;
}
.addNewWidget {
  display: flex;
  flex-direction: column;
  max-width: 215px;

  padding: 10px;
  width: 215px;
  max-height: 85px;
  height: 85px;
  display: flex;
  background-color: #e6e7e9;
  border-radius: 5px;
  margin: 20px 10px;
}
.addNewWidget input {
  border: none;
  padding: 7px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
}
.addNewWidget input:focus {
  outline: none;
}
.addNewWidget input:hover {
  outline: auto;
}
.addNewWidget button {
  background-color: #fff;
  border: none;
  padding: 10px 5px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.addNewWidget button:hover {
  background-color: #5fe27b;
  color: #fff;
  transition: 0.3s;
}
.plus {
  margin: auto;
}
