.tasks {
  display: flex;
  padding: 10px 10px 300px;
  overflow-x: auto;
}
.newColumn {
  display: flex;
  background-color: #ffffff70;
  color: #fff;
  padding: 20px 70px 20px 20px;
  border-radius: 5px;
  height: min-content;
  margin: 5px;
  transition: 0.3s;
}
.newColumn:hover {
  background-color: #a6c5e252;
}
.newColumnText {
  margin-left: 10px;
}
.newColumnOpened{
  transition: 0.4s;
  padding: 10px;
  width: 215px;
  display: flex;
  flex-direction: column;
  background-color: #e6e7e9;
  border-radius: 5px;
}
.newColumnOpened input {
  background-color: #fff;
  border:none;
  border-radius:5px;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 15px;
}
.newColumnOpened button {
   background-color: #fff;
  border: none;
  padding: 10px 5px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.newColumnOpened button:hover {
  background-color: #5fe27b;
  color: #fff;
  transition: 0.3s;
}